@media (max-width: 768px) {

  #main-section #header-logo {
    margin-bottom: 40px;
    margin-top: -30px;
  }

  #third-section {
    padding-top: 160px;
    height: 924px;
  }

  #third-section .feature-image {
    max-width: 205px;
  }

  #fourth-section .wrapper {
    padding-top: 85px; 
  }

  #fourth-section .phone {
    margin-top: 150px; 
  }

  #fourth-section .wrapper {
    padding-bottom: 50px; 
  }

  #fifth-section .logo {
    margin-bottom: 15px;
  
  }
}

@media (min-width: 768px) {
  .anim {
    visibility: hidden;
  }

  body {
    text-align: left;
  }

  #main-section {
    padding-bottom: 200px;
  }

  .navbar .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 19px;
  }

  #fourth-section .container-fluid {
    overflow: hidden;
  }

  #fourth-section .row {
    margin-left: -30px;
    margin-right: -30px;
  }

  #fourth-section .phone {
    display: none !important;
  }

  #third-section .hex-logo {
    margin-top: 10px;
  }

  #third-section .feature-image {
    max-width: 88%;
  }
}

@media (min-width: 992px) {
  #second-section .copy {
    padding-top: 220px;
  }

  .hex-logo {
    width: 55px; 
  }

  #third-section .copy {
    padding-top: 110px;
  }
}


/** Custom Animations **/

@-webkit-keyframes fadeInUp2{
  0%{
    opacity:0;
    -webkit-transform:translateY(200px);
    transform:translateY(200px)
  }

  100%{
    opacity:1;
    -webkit-transform:translateY(0);
    transform:translateY(0)
  }

}

@keyframes fadeInUp2{
  0%{
    opacity:0;
    -webkit-transform:translateY(200px);
    -ms-transform:translateY(200px);
    transform:translateY(200px)
  }

  100%{
    opacity:1;
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
  }

}

.fadeInUp2{
  -webkit-animation-name:fadeInUp2;
  animation-name:fadeInUp2;
  -webkit-animation-delay:0s;
  animation-delay:0s
}

@-webkit-keyframes fadeInLeft2{
  0%{
    opacity:0;
    -webkit-transform:translateX(-200px);
    transform:translateX(-200px)
  }

  100%{
    opacity:1;
    -webkit-transform:translateX(0);
    transform:translateX(0)
  }

}

@keyframes fadeInLeft2{
  0%{
    opacity:0;
    -webkit-transform:translateX(-200px);
    -ms-transform:translateX(-200px);
    transform:translateX(-200px)
  }

  100%{
    opacity:1;
    -webkit-transform:translateX(0);
    -ms-transform:translateX(0);
    transform:translateX(0)
  }

}

.fadeInLeft2{
  -webkit-animation-name:fadeInLeft2;
  animation-name:fadeInLeft2;
  -webkit-animation-delay:0s;
  animation-delay:0s
}

@-webkit-keyframes fadeInRight2{
  0%{
    opacity:0;
    -webkit-transform:translateX(200px);
    transform:translateX(200px)
  }

  100%{
    opacity:1;
    -webkit-transform:translateX(0);
    transform:translateX(0)
  }

}

@keyframes fadeInRight2{
  0%{
    opacity:0;
    -webkit-transform:translateX(200px);
    -ms-transform:translateX(200px);
    transform:translateX(200px)
  }

  100%{
    opacity:1;
    -webkit-transform:translateX(0);
    -ms-transform:translateX(0);
    transform:translateX(0)
  }

}

.fadeInRight2{
  -webkit-animation-name:fadeInRight2;
  animation-name:fadeInRight2;
  -webkit-animation-delay:0s;
  animation-delay:0s
}

@-webkit-keyframes fadeInDown2{
  0%{
    opacity:0;
    -webkit-transform:translateY(-200px);
    transform:translateY(-200px)
  }

  100%{
    opacity:1;
    -webkit-transform:translateY(0);
    transform:translateY(0)
  }

}

@keyframes fadeInDown2{
  0%{
    opacity:0;
    -webkit-transform:translateY(-200px);
    -ms-transform:translateY(-200px);
    transform:translateY(-200px)
  }

  100%{
    opacity:1;
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
  }

}

.fadeInDown2{
  -webkit-animation-name:fadeInDown2;
  animation-name:fadeInDown2;
  -webkit-animation-delay:0s;
  animation-delay:0s
}

@-webkit-keyframes fadeOutSimpleOut{
  0%{
    opacity:1
  }

  100%{
    opacity:0
  }
}

@keyframes fadeOutSimpleOut{
  0%{
    opacity:1
  }

  100%{
    opacity:0
  }
}


