@font-face {
  font-family: SofiaProBold;
  src: url(../fonts/SofiaProBold.ttf);
}

@font-face {
  font-family: SofiaProRegular;
  src: url(../fonts/SofiaProRegular.ttf);
}

@font-face {
  font-family: SofiaProLight;
  src: url(../fonts/SofiaProLight.ttf);
}

@font-face {
  font-family: SofiaProExtraLight;
  src: url(../fonts/SofiaProExtraLight.ttf);
}

html {
  height: 100%;
}

body {
  font-family: SofiaProExtraLight;
  font-size: 1em;
  width: 100%;
  height: 100%;
  text-align: center;
}

h1 {
  font-size: 3.3em;
  font-family:SofiaProBold;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 2.3em;
  letter-spacing: 0.5em;
  line-height: initial;
  margin-bottom: .9em;
  margin-top: 1.8em;
}

h4 {
  font-family: SofiaProRegular;
  color: #fe5e44;
  letter-spacing: 0.4em;
  font-size: 1.6em;
  text-transform: uppercase;
}

p {
  font-family: SofiaProLight;
  line-height: 1.7em;
  font-size: 1.4em;
  letter-spacing: .06em;
}

li {
  font-size: 1.4em;
  line-height: 1.7em;
}

a, a:hover {
  color: #FFF;
  font-family: SofiaProRegular;
}

.feature-image {
  max-width: 100%;
  width: 100%;
}

.navbar-fixed-top {
  -webkit-transition: top 0.15s;
  -o-transition: top 0.15s;
  transition: top 0.15s;
}

.navbar-fixed-top.closed {
  top: -101px;
}

.navbar-fixed-top {
  border-color: transparent;
  min-height: 50px;
  width: 100%;
  -moz-transition:all 250ms linear;
  -o-transition:all 250ms linear;
  -webkit-transition:all 250ms linear;
  transition:all 250ms linear;
}

.navbar-static-top {
  background-color: transparent;
  border: 0 none;
}

.navbar-fixed-top {
  background-color: rgba(0, 0, 0, .4);
  border: 0 none;
}

.navbar .navbar-header {
  margin-right:0;
  margin-left:0;
}

.navbar .navbar-toggle {
  margin-top: 18px;
}

.navbar .navbar-logo {
  float: left;
  padding: 15px 15px;
}

.navbar .navbar-logo img {
  width: 40px;
}

.navbar a {
  font-family: SofiaProBold;
  color: #FFF !important;
}

.navbar .navbar-form {
  margin-left: 0;
  margin-right: 0;
}

.navbar .navbar-nav a:hover {
  text-decoration: underline;
}

.navbar .navbar-nav a.active {
  background-color:transparent;
  text-decoration: underline;
}

#fifth-section {
  background-color: #f95d42;
  padding: 50px 0 60px;
  color: #FFF;

  /** FIREFOX **/
  clear: both;
}

#fifth-section .container {
  max-width: 890px;
}

#fifth-section strong {
  font-family: SofiaProBold;
  font-size: 1em !important;
  /*
  margin-right: 15px;
  */
  line-height: 2.7em;
}

#fifth-section .logo {
  max-width: 150px;
  margin-bottom: -5px;
}

#fifth-section .boinc {
  width: 70px;
}

#fifth-section .social {
  display: inline-block; 
}

#fifth-section .social img {
  width: 30px;
}

#fifth-section .social a {
  margin-left: 15px;
}

footer {
  border-top: 1px solid #f97443;
  text-align: center;
  background-color: #f85d42;
  color: #DDD;
}

footer img {
  height: 25px; 
  margin: 5px 10px;
}

footer p {
  font-family: SofiaProRegular;
  font-size: 1em;
  margin: 5px 0;
}

.lazyload {
  width: 100%;
}

/** 
 * Class used for enabling/disabling anims
 */
.anim {
  visibility: visible;
}

@media (max-width: 768px) {

  #fifth-section .logo {
    margin-bottom: 15px;
  
  }
}

@media (min-width: 768px) {

  .navbar .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 1.6em;
  }
}

@media (min-width: 992px) {

}


/** Custom Animations **/

@-webkit-keyframes fadeInUp2{
  0%{
    opacity:0;
    -webkit-transform:translateY(200px);
    transform:translateY(200px)
  }

  100%{
    opacity:1;
    -webkit-transform:translateY(0);
    transform:translateY(0)
  }

}

@keyframes fadeInUp2{
  0%{
    opacity:0;
    -webkit-transform:translateY(200px);
    -ms-transform:translateY(200px);
    transform:translateY(200px)
  }

  100%{
    opacity:1;
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
  }

}

.fadeInUp2{
  -webkit-animation-name:fadeInUp2;
  animation-name:fadeInUp2;
  -webkit-animation-delay:0s;
  animation-delay:0s
}

@-webkit-keyframes fadeInLeft2{
  0%{
    opacity:0;
    -webkit-transform:translateX(-200px);
    transform:translateX(-200px)
  }

  100%{
    opacity:1;
    -webkit-transform:translateX(0);
    transform:translateX(0)
  }

}

@keyframes fadeInLeft2{
  0%{
    opacity:0;
    -webkit-transform:translateX(-200px);
    -ms-transform:translateX(-200px);
    transform:translateX(-200px)
  }

  100%{
    opacity:1;
    -webkit-transform:translateX(0);
    -ms-transform:translateX(0);
    transform:translateX(0)
  }

}

.fadeInLeft2{
  -webkit-animation-name:fadeInLeft2;
  animation-name:fadeInLeft2;
  -webkit-animation-delay:0s;
  animation-delay:0s
}

@-webkit-keyframes fadeInRight2{
  0%{
    opacity:0;
    -webkit-transform:translateX(200px);
    transform:translateX(200px)
  }

  100%{
    opacity:1;
    -webkit-transform:translateX(0);
    transform:translateX(0)
  }

}

@keyframes fadeInRight2{
  0%{
    opacity:0;
    -webkit-transform:translateX(200px);
    -ms-transform:translateX(200px);
    transform:translateX(200px)
  }

  100%{
    opacity:1;
    -webkit-transform:translateX(0);
    -ms-transform:translateX(0);
    transform:translateX(0)
  }

}

.fadeInRight2{
  -webkit-animation-name:fadeInRight2;
  animation-name:fadeInRight2;
  -webkit-animation-delay:0s;
  animation-delay:0s
}

@-webkit-keyframes fadeInDown2{
  0%{
    opacity:0;
    -webkit-transform:translateY(-200px);
    transform:translateY(-200px)
  }

  100%{
    opacity:1;
    -webkit-transform:translateY(0);
    transform:translateY(0)
  }

}

@keyframes fadeInDown2{
  0%{
    opacity:0;
    -webkit-transform:translateY(-200px);
    -ms-transform:translateY(-200px);
    transform:translateY(-200px)
  }

  100%{
    opacity:1;
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
  }

}

.fadeInDown2{
  -webkit-animation-name:fadeInDown2;
  animation-name:fadeInDown2;
  -webkit-animation-delay:0s;
  animation-delay:0s
}

@-webkit-keyframes fadeOutSimpleOut{
  0%{
    opacity:1
  }

  100%{
    opacity:0
  }

}

@keyframes fadeOutSimpleOut{
  0%{
    opacity:1
  }

  100%{
    opacity:0
  }

}

/**
 * Custom css per device
 */
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
