h3 {
  letter-spacing: .1em;
  font-size: 2em;
}

p {
  font-family: SofiaProExtraLight;
}

#faq-title {
  margin: 60px 0;
}

.navbar a {
  color: #777 !important;
}

.navbar {
  background-color: rgba(255, 255, 255, .7);
}

ul#faq-nav {
  list-style: none;
  padding-top: 20px;
}

li {
  list-style-type: none;
}

#faq-nav li > a {
  color: #f95d42;
  font-size: 2em;
}

#questions {

}

.question {
  margin-bottom: 5em;
}

.legal {
  margin-bottom: 5em;
  color: #777;
}
