/**
Push....: Sofia Pro BOLD
We are....: Sofia Pro REGULAR
Are you...: Sofia Pro BOLD
Enter your...:Sofia Pro LIGHT
Submit...: Sofia Pro BOLD
1000: Sofia Pro LIGHT
Founder....: Sofia Pro EXTRA LIGHT
**/

@font-face {
  font-family: SofiaProBold;
  src: url(fonts/SofiaProBold.otf);
}

@font-face {
  font-family: SofiaProRegular;
  src: url(fonts/SofiaProRegular.otf);
}

@font-face {
  font-family: SofiaProLight;
  src: url(fonts/SofiaProLight.otf);
}

@font-face {
  font-family: SofiaProBold;
  src: url(fonts/SofiaProBold.otf);
}

@font-face {
  font-family: SofiaProExtraLight;
  src: url(fonts/SofiaProExtraLight.otf);
}

body {
  padding-top: 5%;
  font-family: SofiaProRegular;
  color: #FFF;
  background-color:#19102f;
}

#container {
  width: 660px;
  margin: 0 auto;
}

hr {
  border: 1px solid #ec5f45;
}

video {
  background-image: url(video.png);
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

h1 {
  font-size: 3.2em;
  color: #fff;
  display: inline-block;
  margin: 5% 0;
}

h2 {
  font-family: SofiaProBold;
  font-size: 1.2em;
  margin: 30px 0;
}

.copy {
  font-size: 1.1em;
  line-height: 1.6em;
  margin-bottom: 30px;
}

.copy .start {
  font-family: SofiaProBold;
}

form {
  margin-bottom: 30px;
}

form#join input[type="email"] {
  width: 230px;
  font-family: SofiaProLight;
  font-size:0.9em;
  color: #FFF;
  border: 1px solid #ec5f45;
  -webkit-box-shadow: inset 0; 
  -moz-box-shadow: inset 0; 
  box-shadow: inset 0;
  padding: 10px;
  background: #ec5f45;
  margin: 0 0 10px 0;
}

form#join button {
  font-size:0.9em;
  color: #FFF;
  border: 0 none; 
  background: #ec5f45;
  -webkit-box-shadow: inset 0; 
  -moz-box-shadow: inset 0; 
  box-shadow: inset 0;
  padding: 10px 10px 11px 10px;
  margin: 0 0 10px 0;
  position: relative;
  top:1px;
}

.counter {
  font-size: 2em;
  margin-bottom: 30px;
}

.counter .num {
  float: left;
  font-size: 1.5em;
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.counter .txt {
  font-family: SofiaProExtraLight;
  font-size: 0.6em;
  font-weight: bold;
  color: #ec5f45;
  position:relative;
  top: 6px;
  letter-spacing: 1px;
}

