h1 {
  color: #fff;
}

h2 {
  font-family: SofiaProRegular;
  font-size: 2.2em;
  line-height: 5em;
}

p {
  font-family: SofiaProExtraLight;
  line-height: 2em;
  margin: 2.2em 0;
}

#header {
  background-image: url(../img/orig/about-bg.jpg);
  background-size: cover;
  min-height: 445px;
  color: #FFF;
}

#main-section {
  padding: 105px 0;
}

#second-section {
  padding: 50px 0 90px;
}

#second-section .container {
  max-width: 900px;
}

#second-section h2 {
  margin: .5em 0 0;
  line-height: 3em;
}

p.quote {
  font-size: 2.7em;
  font-style: italic;
  margin: 1em 0;
}

#second-section .hexa-logo {
  height: 5.8em;
}

#second-section .team .hexa-logo {
  margin-top: 3.3em;
}

